<!--# ======================================================================= -->
<!--#                               FAQ Section                               -->
<!--# ======================================================================= -->
<div class="faq position-relative overflow-hidden">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <small class="fs-7 d-block">Frequently Asked Questions</small>
        <h2 class="fs-3 text-black mb-0">Want to ask something from us?</h2>
      </div>
    </div>
    <div class="accordion-block">
      <div class="accordion row" id="accordionPanelsStayOpenExample">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button text-black fs-7" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Does Tatlsulok have tools for complex businesses?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body fs-7 fw-500 pt-0">
                Tatlsulok has solutions for businesses of all sizes. Our connected tools are built to scale with
                future-focused, connected tools. Enhanced, customer-friendly experiences help build deeper data and
                better customer relationships.
                And our open platform means you can connect to prebuilt integrations or build out your own with our
                APIs. Learn how
                Tatsulok works with larger, more complex businesses.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                What are merchant services?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body fs-7 fw-500 pt-0">
                Merchant services is an all-encompassing term that describes the hardware, software, and financial
                services needed for a business to accept and process payments — credit cards, debit cards, NFC-enabled
                mobile wallets, and
                other contactless payments — both online and in-store. Just getting started and need a simple way to
                take payments? Your
                first Square Reader for magstripe is free when you sign up for an account. Additional readers are ₱1000.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Does Square have tools for professional services businesses?

              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body fs-7 fw-500 pt-0">
                Tatsulok built a suite of integrated tools to help service businesses save time so they can focus on
                growing revenue and delivering exceptional service to their clients.
              </div>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="panelsStayOpen-headingfour">
              <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapsefour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapsefour">
                How does buy now, pay later work?
              </button>
            </h2>
            <div id="panelsStayOpen-collapsefour" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingfour">
              <div class="accordion-body fs-7 fw-500 pt-0">
                Buy now, pay later, or BNPL, is a payment option that allows a customer to pay for a purchase over time
                in installments
                while merchants get paid in full. With Paypaypal, Tatsulok merchants can let customers pay in four
                interest-free
                installments over six weeks.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="panelsStayOpen-headingfive">
              <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapsefive" aria-expanded="false"
                aria-controls="panelsStayOpen-collapsefive">
                How does Tatsulok compare to other business software providers?
              </button>
            </h2>
            <div id="panelsStayOpen-collapsefive" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingfour">
              <div class="accordion-body fs-7 fw-500 pt-0">
                Tatsulok point-of-sale software and suite of tools make it easy to sell in person, online, over the
                phone, or out in the
                field.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-3">
            <h2 class="accordion-header" id="panelsStayOpen-headingsix">
              <button class="accordion-button collapsed text-black fs-7" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapsesix" aria-expanded="false"
                aria-controls="panelsStayOpen-collapsesix">
                What kind of resources does Square provide businesses?
              </button>
            </h2>
            <div id="panelsStayOpen-collapsesix" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingsix">
              <div class="accordion-body fs-7 fw-500 pt-0">
                Tatsulok strives to provide the best hardware, software, and resources to support you in every stage of
                your journey,
                whether you’re a first-time business owner or a seasoned entrepreneur.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>