<!--# ======================================================================= -->
<!--#                             Footer Section                              -->
<!--# ======================================================================= -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="footer-logo-col">
                    <div class="d-flex align-items-center">
                        <img src="../../public/assets/icons/tatsulok-logo.svg" alt="Tatsulok Logo" href="/">
                        <a class="navbar-brand nav-link pe-5 fw-500 text-white fs-4" href="/">
                            T▲TSULOK
                        </a>
                    </div>
                    <p class="text-white-50 mb-0 fs-7 fw-500">Helping every size of
                        business succeed.</p>
                    <div class="callus text-white fw-500 fs-7">
                        Taguig, Philippines
                        <div class="text-white-50">Call us: <a href="#"
                                class="text-warning fw-500 fs-7 text-decoration-none">969-898-9699</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
                <h5 class="text-white">Social</h5>
                <ul class="list-unstyled mb-0 pl-0">
                    <li><a class="text-white-50" href="#">Blog</a></li>
                    <li><a class="text-white-50" href="#">Facebook</a></li>
                    <li><a class="text-white-50" href="#">Twitter</a></li>
                    <li><a class="text-white-50" href="#">Instagram</a></li>
                </ul>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
                <h5 class="text-white">Company</h5>
                <ul class="list-unstyled mb-0 pl-0">
                    <li><a class="text-white-50" href="#">About</a></li>
                    <li><a class="text-white-50" href="#">Affiliates</a></li>
                    <li><a class="text-white-50" href="#">Careers</a></li>
                    <li><a class="text-white-50" href="#">Legal & Privacy</a></li>
                </ul>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="subscribe">
                    <h5 class="text-white">Subscribe</h5>
                    <p class="class=" text-white-50" fw-500">Join Our Newsletter</p>
                    <div class="input-group">
                        <input type="email" class="form-control br-15" placeholder="Enter email address"
                            aria-label="Enter email address" aria-describedby="button-addon2" />
                        <button
                            class="btn btn-warning btn-hover-secondery ms-xxl-2 ms-xl-2 ls-lg-0 ms-md-0 ms-sm-0 ms-0"
                            type="button" id="button-addon2">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>