<!-- partial:index.partial.html -->
<!--# ======================================================================= -->
<!--#                                 Header                                  -->
<!--# ======================================================================= -->
<header class="main-header position-fixed w-100">
    <div aria-live="polite" aria-atomic="true">
        <div class="toast-container position-absolute p-3" id="toast-container" style="z-index:9;"></div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-xl py-0">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand nav-link pe-5 fw-500" href="/">
                    T▲TSULOK
                </a>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link text-capitalize" id="" href="/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-capitalize" id="" href="/services.html">Services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-capitalize" href="mailto:mail@example.com">Contact</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <div class="input-group search">
                        <button class="btn border-0 p-0" type="button" id="button-addon1"><i
                                class="fa-solid fa-magnifying-glass text-white"></i></button>
                        <input type="text" class="form-control border-0 bg-transparent ps-2" placeholder="search"
                            aria-label="Example text with button addon" aria-describedby="button-addon1" />
                    </div>
                    <a class="btn btn-warning btn-hover-secondery text-capitalize"
                        href="mailto:mail@example.com">contact</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"><i
                    class="fa-solid fa-xmark text-warning"></i></button>
        </div>
        <div class="offcanvas-body pt-0">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-capitalize" aria-current="page" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">Pricing </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">Elements </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" href="#">blog </a>
                </li>
            </ul>
            <div class="login d-block align-items-center mt-3">
                <a class="btn btn-warning text-capitalize w-100" href="#">contact us</a>
            </div>
        </div>
    </div>
</header>