.btn {
  --bs-btn-padding-x: 35px;
  --bs-btn-padding-y: 18px;
  --bs-btn-font-family: "Poppins", sans-serif;
  --bs-btn-font-size: 1.0625rem;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 1;
  --bs-btn-color: #14141c;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 0;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 15px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: 0;
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0px rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible,
:not(.btn-check) + .btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1642b9;
  --bs-btn-border-color: #1642b9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #13389d;
  --bs-btn-hover-border-color: #123594;
  --bs-btn-focus-shadow-rgb: 57, 94, 196;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #123594;
  --bs-btn-active-border-color: #11328b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1642b9;
  --bs-btn-disabled-border-color: #1642b9;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #061434;
  --bs-btn-border-color: #061434;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #05112c;
  --bs-btn-hover-border-color: #05102a;
  --bs-btn-focus-shadow-rgb: 43, 55, 82;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #05102a;
  --bs-btn-active-border-color: #050f27;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #061434;
  --bs-btn-disabled-border-color: #061434;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2776fc;
  --bs-btn-border-color: #2776fc;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2164d6;
  --bs-btn-hover-border-color: #1f5eca;
  --bs-btn-focus-shadow-rgb: 71, 139, 252;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1f5eca;
  --bs-btn-active-border-color: #1d59bd;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2776fc;
  --bs-btn-disabled-border-color: #2776fc;
}

.btn-light {
  --bs-btn-color: #000;
  --bs-btn-bg: #f9f9fb;
  --bs-btn-border-color: #f9f9fb;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d4d4d5;
  --bs-btn-hover-border-color: #c7c7c9;
  --bs-btn-focus-shadow-rgb: 212, 212, 213;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c7c7c9;
  --bs-btn-active-border-color: #bbbbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f9f9fb;
  --bs-btn-disabled-border-color: #f9f9fb;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #ee7b11;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d29fd;
  --bs-btn-hover-border-color: #be620e;
  --bs-btn-focus-shadow-rgb: 241, 143, 53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #be620e;
  --bs-btn-active-border-color: #b35c0d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ee7b11;
  --bs-btn-disabled-border-color: #ee7b11;
}

.btn-outline-primary {
  --bs-btn-color: #1642b9;
  --bs-btn-border-color: #1642b9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1642b9;
  --bs-btn-hover-border-color: #1642b9;
  --bs-btn-focus-shadow-rgb: 22, 66, 185;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1642b9;
  --bs-btn-active-border-color: #1642b9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1642b9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1642b9;
  --bs-gradient: none;
}

.btn-outline-secondary {
  --bs-btn-color: #061434;
  --bs-btn-border-color: #061434;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #061434;
  --bs-btn-hover-border-color: #061434;
  --bs-btn-focus-shadow-rgb: 6, 20, 52;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #061434;
  --bs-btn-active-border-color: #061434;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #061434;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #061434;
  --bs-gradient: none;
}

.btn-outline-info {
  --bs-btn-color: #2776fc;
  --bs-btn-border-color: #2776fc;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2776fc;
  --bs-btn-hover-border-color: #2776fc;
  --bs-btn-focus-shadow-rgb: 39, 118, 252;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2776fc;
  --bs-btn-active-border-color: #2776fc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #2776fc;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2776fc;
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #f9f9fb;
  --bs-btn-border-color: #f9f9fb;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f9f9fb;
  --bs-btn-hover-border-color: #f9f9fb;
  --bs-btn-focus-shadow-rgb: 249, 249, 251;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f9f9fb;
  --bs-btn-active-border-color: #f9f9fb;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f9f9fb;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f9f9fb;
  --bs-gradient: none;
}

.btn-outline-warning {
  --bs-btn-color: #ee7b11;
  --bs-btn-border-color: #ee7b11;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ee7b11;
  --bs-btn-hover-border-color: #ee7b11;
  --bs-btn-focus-shadow-rgb: 238, 123, 17;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ee7b11;
  --bs-btn-active-border-color: #ee7b11;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ee7b11;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ee7b11;
  --bs-gradient: none;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: #1642b9;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #001c68;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: #001c68;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #8a8a8a;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 57, 94, 196;
  text-decoration: underline;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-lg,
.btn-group-lg > .btn {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: calc(1.265625rem + 0.1875vw);
  --bs-btn-border-radius: 15px;
}
@media (min-width: 1200px) {
  .btn-lg,
  .btn-group-lg > .btn {
    --bs-btn-font-size: 1.40625rem;
  }
}

.btn-sm,
.btn-group-sm > .btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.984375rem;
  --bs-btn-border-radius: 10px;
}
